.main{
    .contact{
        width: 650px;
        text-align: center;
        margin: 100px auto;
        h2{
            font-size: 45px;
            font-weight: 500;
            margin-bottom: 30px;
            line-height: 50px;
        }
        .number__fields{
            @include flex();
            justify-content: space-between;
            input{
                width: 48%;
                padding: 20px 150px 20px 25px;
                border: 1px solid #FFA3A3;
                border-radius: 5px;
            }
        }
        .question__fields{
            margin-top: 20px;
            position: relative;
            input{
                width: 100%;
                border: 1px solid #FFA3A3;
                border-radius: 5px;
                padding: 20px 355px 20px 25px;
            }
            button{
                position: absolute;
                right: 0;
                padding: 21px 50px;
            }
        }
    }
}